@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,700;1,400&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto;
}
#deslocamento ,
#deslocamentoPoli{
    width: 70px;    
    height: 30px;
    margin:  1.5rem 0;
}
h1{
    font-size: 34px;
    text-transform: capitalize;
    color: #c3c3c3
}
p{
    color: #c3c3c3
}
.cifrar{
    margin-bottom: 1rem;
}
.caposCifra div button , 
.caposCifraPoli div button{
    margin-top: 10px;
}
.content ,
.contentPoli{
    margin-bottom: 1rem;
}
textarea {
    resize: none ;
    outline: 0;
    border-radius: 5px;
} 
input {
    border-radius: 5px;
    
}
button {
    border: 0;
    outline: 0  ;
    background-color: #01A0C6;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
